@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 125 33% 95%;
    --foreground: 122 39% 15%;
    --card: 125 33% 99%;
    --card-foreground: 122 39% 15%;
    --popover: 125 33% 99%;
    --popover-foreground: 122 39% 15%;
    --primary: 122 39% 49%;
    --primary-foreground: 125 33% 99%;
    --secondary: 125 30% 90%;
    --secondary-foreground: 122 39% 20%;
    --muted: 125 30% 90%;
    --muted-foreground: 122 20% 40%;
    --accent: 127 48% 34%;
    --accent-foreground: 125 33% 99%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 88%;
    --input: 125 20% 88%;
    --ring: 122 39% 49%;
    --chart-1: 122 39% 49%;
    --chart-2: 127 48% 34%;
    --chart-3: 130 40% 60%;
    --chart-4: 125 35% 70%;
    --chart-5: 120 30% 80%;
    --radius: 0.5rem;

    --sidebar-background: 125 33% 99%;
    --sidebar-foreground: 122 39% 15%;
    --sidebar-border: 125 20% 88%;
    --sidebar-accent: 125 30% 90%;
    --sidebar-accent-foreground: 122 39% 15%;
    --sidebar-ring: 122 39% 49%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 122 39% 49%;
    --primary-foreground: 125 33% 99%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 127 48% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 122 39% 49%;
    --chart-1: 122 39% 49%;
    --chart-2: 127 48% 34%;
    --chart-3: 130 40% 60%;
    --chart-4: 125 35% 70%;
    --chart-5: 120 30% 80%;

    --sidebar-background: 240 10% 4%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-ring: 122 39% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
